In [2]:
import pandas as pd

In [42]:
#loading coaches career data
coaches_career_data = pd.read_csv('coaches_career.txt', header=0)

In [43]:
print(coaches_career_data)

        coachid firstname   lastname  season_win  season_loss  playoff_win  \
0    ADELMRI01       Rick    Adelman         658          411           67
1    ADUBARI01     Richie    Adubato         127          240            3
2    AINGEDA01      Danny      Ainge         136           90            3
3    ALBECST01       Stan     Albeck         307          267           18
4    ARMSTPA01       Paul  Armstrong          22           32            0
..          ...       ...        ...         ...          ...          ...
249  WINTEBR01      Brian    Winters          36          148            0
250  WITTMRA01      Randy    Wittman          62          102            0
251  WOHLDA01        Dave       Wohl          65          114            0
252  WOLFCH01     Charles       Wolf         143          187            7
253  YOUNGDR01      Draff      Young           0            3            0

     playoff_loss
0              60
1               5
2               9
3              26
4               0
..            ...
249             0
250             0
251             3
252             9
253             0

[254 rows x 7 columns]

In [13]:
print(coaches_career_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       255 non-null    object
 1   1       255 non-null    object
 2   2       255 non-null    object
 3   3       255 non-null    object
 4   4       255 non-null    object
 5   5       255 non-null    object
 6   6       255 non-null    object
dtypes: object(7)
memory usage: 14.1+ KB
None

In [16]:
#checking if any duplicate rows, return True if any are duplicate
coaches_career_data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
250    False
251    False
252    False
253    False
254    False
Length: 255, dtype: bool

In [15]:
#summing up the duplicate rows, here there are 0 duplicate rows
coaches_career_data.duplicated().sum()

0

In [29]:
#dropping null values, here there are no null values
df_records_dropped = coaches_career_data.dropna(axis=0, how='any')
df_records_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       255 non-null    object
 1   1       255 non-null    object
 2   2       255 non-null    object
 3   3       255 non-null    object
 4   4       255 non-null    object
 5   5       255 non-null    object
 6   6       255 non-null    object
dtypes: object(7)
memory usage: 14.1+ KB

In [44]:
#loading coaches_season data
coaches_season_data= pd.read_csv('coaches_season.txt', header=0)
print(coaches_season_data)

         coachid  year  yr_order firstname  lastname  season_win  season_loss  \
0     RUSSEJO01   1946         1      John   Russell          22           38
1     OLSENHA01   1946         1    Harold     Olsen          39           22
2     DEHNEDU01   1946         1     Dutch   Dehnert          17           20
3     CLIFFRO01   1946         2       Roy  Clifford          13           10
4     CURTIGL01   1946         1     Glenn    Curtis          12           22
...          ...   ...       ...       ...       ...         ...          ...
1236  POPOVGR01   2003         1     Gregg  Popovich          57           25
1237  MCMILNA01   2003         1      Nate  McMillan          37           45
1238  ONEILKE01   2003         1     Kevin   O'Neill          33           49
1239  SLOANJE01   2003         1     Jerry     Sloan          42           40
1240  JORDAED01   2003         1     Eddie    Jordan          25           57

      playoff_win  playoff_loss team
0               0             0  BOS
1               5             6  CH1
2               0             0  CL1
3               1             2  CL1
4               0             0  DE1
...           ...           ...  ...
1236            6             4  SAS
1237            0             0  SEA
1238            0             0  TOR
1239            0             0  UTA
1240            0             0  WAS

[1241 rows x 10 columns]

In [32]:
print(coaches_season_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1242 non-null   object
 1   1       1242 non-null   object
 2   2       1242 non-null   object
 3   3       1242 non-null   object
 4   4       1242 non-null   object
 5   5       1242 non-null   object
 6   6       1242 non-null   object
 7   7       1242 non-null   object
 8   8       1242 non-null   object
 9   9       1242 non-null   object
dtypes: object(10)
memory usage: 97.2+ KB
None

In [33]:
print(coaches_season_data.head(3))

            0     1         2          3         4           5            6  \
0     coachid  year  yr_order  firstname  lastname  season_win  season_loss
1  RUSSEJO01   1946         1       John   Russell          22           38
2  OLSENHA01   1946         1     Harold     Olsen          39           22

             7             8     9
0  playoff_win  playoff_loss  team
1            0             0   BOS
2            5             6   CH1

In [34]:
#checking if any duplicate rows, return True if any are duplicate
coaches_season_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1237    False
1238    False
1239    False
1240    False
1241    False
Length: 1242, dtype: bool

In [35]:
#summing up the duplicate rows, here there are 0 duplicate rows
coaches_season_data.duplicated().sum()

0

In [36]:
#dropping null values, here there are no null values
df_records_dropped2 = coaches_season_data.dropna(axis=0, how='any')
df_records_dropped2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1242 non-null   object
 1   1       1242 non-null   object
 2   2       1242 non-null   object
 3   3       1242 non-null   object
 4   4       1242 non-null   object
 5   5       1242 non-null   object
 6   6       1242 non-null   object
 7   7       1242 non-null   object
 8   8       1242 non-null   object
 9   9       1242 non-null   object
dtypes: object(10)
memory usage: 97.2+ KB

In [59]:
#merging the coaches data
merged_coaches_data = pd.merge(coaches_career_data, coaches_season_data, how= 'outer',on= ['coachid', 'firstname' , 'lastname' , 'season_win', 'season_loss', 'playoff_win', 'playoff_loss'])
print(merged_coaches_data)

         coachid firstname   lastname  season_win  season_loss  playoff_win  \
0     ADELMRI01       Rick    Adelman         658          411           67
1     ADUBARI01     Richie    Adubato         127          240            3
2     AINGEDA01      Danny      Ainge         136           90            3
3     ALBECST01       Stan     Albeck         307          267           18
4     ARMSTPA01       Paul  Armstrong          22           32            0
...          ...       ...        ...         ...          ...          ...
1413  ADELMRI01       Rick    Adelman          55           27            7
1414  POPOVGR01      Gregg   Popovich          57           25            6
1415  MCMILNA01       Nate   McMillan          37           45            0
1416  SLOANJE01      Jerry      Sloan          42           40            0
1417  JORDAED01      Eddie     Jordan          25           57            0

      playoff_loss    year  yr_order team
0               60     NaN       NaN  NaN
1                5     NaN       NaN  NaN
2                9     NaN       NaN  NaN
3               26     NaN       NaN  NaN
4                0  1948.0       2.0  DET
...            ...     ...       ...  ...
1413             5  2003.0       1.0  SAC
1414             4  2003.0       1.0  SAS
1415             0  2003.0       1.0  SEA
1416             0  2003.0       1.0  UTA
1417             0  2003.0       1.0  WAS

[1418 rows x 10 columns]

In [60]:
#checking if any duplicate rows, return True if any are duplicate
merged_coaches_data.duplicated()
#summing up the duplicate rows, here there are 0 duplicate rows
merged_coaches_data.duplicated().sum()

0